*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: #00d5ff;
    line-height: 1.6;
}

/* ===== ACCOUNT INFORMATION ===== */
.account-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
    padding: 20px;
}